:root {
  --primary-color: white;
  --secondary-color: black;
}
[data-theme="dark"] {
  --primary-color:black;
  --secondary-color: white;
}
body {
  background-color: var(--primary-color);
  transition-property: background-color;
  transition-duration: 2s;
}
p {
  color: var(--secondary-color);
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}



.fadeIn {
  transform: translateY(50px);
  transition-property: transform, opacity;
  transition-duration: 1s;
  opacity: 0;
}
.fadeIn.active {
  transform: translateY(0%);
  opacity: 1;
}

section {
  height: 100vh;
}

[data-loaded="true"] {
  transition-property: color;
  transition-delay: 0s;
}



