body {
  transition-property: background-color;
  transition-duration: 2s;
}

.darkMode {
  background-color: black;
}

.darkMode p {
  color: white;
  transition-property: color;
  transition-duration: 1s;
}

.lightMode {
  background-color:#999;
}

.lightMode p {
  color: black;
  transition-property: color;
  transition-duration: 1s;
}

p {
  font-size: 40px;
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.fadeIn {
  transform: translateY(50px);
  transition-property: transform, opacity;
  transition-duration: 1s;
  opacity: 0;
}
.fadeIn.active {
  transform: translateY(0%);
  opacity: 1;
}

section {
  height: 100vh;
}




